* {
    font-family: 'Open Sans', sans-serif;
}

.color_gallery div{
    display:inline-block;
}

#vatvalue{
    float:rigt;
}

.variant-table th{
    width:20% !important;
}

.variant-table th:first-child{
    width:inherit !important;
}